{display: block;
-webkit-box-sizing: content-box;
-moz-box-sizing: content-box;
box-sizing: content-box;
float: none;
z-index: auto;
width: 300px;
height: 300px;
position: static;
cursor: default;
opacity: 1;
margin: 0;
padding: 0;
overflow: visible;
border: none;
-webkit-border-radius: 0;
border-radius: 0;
font: normal 16px/1 "Times New Roman", Times, serif;
color: rgba(255,255,255,1);
text-align: center;
-o-text-overflow: ellipsis;
text-overflow: ellipsis;
background: url("https://selphcode.github.io/Images/lissmoss.gif");
background-repeat: no-repeat;
background-position: 50% 50%;
-webkit-background-origin: padding-box;
background-origin: padding-box;
-webkit-background-clip: border-box;
background-clip: border-box;
-webkit-background-size: 100% 100%;
background-size: 100% 100%;
-webkit-box-shadow: none;
box-shadow: none;
text-shadow: none;
-webkit-transition: none;
-moz-transition: none;
-o-transition: none;
transition: none;
-webkit-transform: none;
transform: none;
-webkit-transform-origin: 50% 50% 0;
transform-origin: 50% 50% 0;}
#header{
    padding:2px;
    margin: 15px;
    border:3px solid #BAF73C;
    width: 95%;
    border-radius: 10px;
    color: #BFD9C1;


    -moz-box-shadow:10px 10px 5px #000000;
    -webkit-box-shadow:10px 10px 5px #000000;
    box-shadow:10px 10px 5px #000000;



}
#header p {
    font-size: 75%;
    text-align: right;
}
#header img{
    padding:20px;
    float: left;
    overflow: auto;
}

hr{
width: 90%;
}
#header h1 {
    margin-bottom: 1.5px;
    float: bottom;
    margin-left: 7em;
}
#header h1:hover{
    color:#7FFFD4;
}
h1{
    font-family: 'PecitaBook', Arial, Verdana, sans-serif;
    font-weight: bolder;
    font-style: oblique;
    font-size: 500%;
    text-align: left;
    border-bottom-style: dotted;
    border-bottom-color: #00FF00;
}
#nav a:hover {
    border-bottom: thick #E9E5D1 double;
    color:#BAF73C;
}
a.active {
    background-color: #fff;
    color: #444;
}
#nav li {
    display: inline;
    padding: 10px ;
    font-family: 'LibHandDisRegular', Arial, Verdana, sans-serif;
    font-weight: bold;
    font-style: normal;
    width: 120px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.2em;
    margin-left:20px;

}
nav{
    float: bottom;

}
#nav ul{
    padding: 15px 10px 5px 0;
}
*{
    color: #BFD9C1;
    background-color: #604830;
}
.column1of2 {
    float: left;
    width: 620px;
    margin: 10px;}
.column2of2 {
    float: left;
    width: 300px;
    margin: 10px;}
.aside {
    width: 300px;
    text-align: center;
}
aside section a {
    float: right;
    padding: 10px;
    border-bottom: 1px solid #eeeeee;}
aside section a:hover {
    color: #985d6a;}