html, body{
    height:100%;
    margin: 0;
}
body {
    background-image:url("https://selphcode.github.io/Images/pond1.jpg");
}

.row{
    position:relative;
    margin-left:10%;
    margin-right:10%;
}

.clear {
    clear:both;
}

.white, .black{
    width: 10%;
    height: 60px;
    float: left;
}
.black{
    background-color: #787878;
}
.white {
    background-color: white;
}
#footer {
    background-color:saddlebrown;
    padding: 10px;
    margin: 10px;
}
#container{
    margin:20%;
    margin-left:10%;
    margin-right:10%;
    margin-bottom:5%;
}
#title{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    padding: 10px;
    background-color: saddlebrown;
    margin: 0px;
    text-align: center;
    z-index: 10;
}

p {
    font-family: 'DatalegreyaDot';
    font-weight: normal;
    font-style: normal;
}