* {
    font-family: Arial, Verdana, sans-serif ;
    text-align: center;
    color: #BFD9C1;
    background-color: #604830;
}

li {
    display: inline;
}

body,header {
    width: 100%;
    margin: 0 auto;
    background-color: #604830;
}

h1{
    color: #665544;
    font-family: 'PecitaBook';
    font-weight: normal;
    font-style: normal;
    font-size: 200%;
}
#content{
    overflow:auto;

}

#nav, #commentary, #footer {
    margin: 1%;}

.column1, .column2, .column3 {
    width: 30%;
    float: left;
    height: auto;
}

.clear {
    clear: both;
}

#commentary, .article {
    margin:.25em;
    text-align: left;
}

#nav {
}
#commentary {
    background-color: olive;
    text-align:justify;
    padding:5px;}

#footer{
    background-color: olive;
    width:100%;
}
