*{
    font-family: 'HiLoDecoDeco';
    font-weight: normal;
    font-style: normal;
    font-size: 100%;
    color: sandybrown;
}
body {
    width: 90%;
    margin: 0 auto;
    background-color: olive;
}
#nav{
padding: 0.5em 0;}

